<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
<div class="header">
        <span class="first-column">
        <div class="person-name">Tatjana Sokolova</div>
        <div class="person-description">
            Some information about me...
        </div>
        </span>
  <span>
            <img src="" class="person-photo" width="100" />
        </span>
</div>

<table>
  <tbody>
  <tr>
    <td> <div class="container">
      <div class="name" align="center"> <b>Lesson1 </b></div>
      <div class="img"> <img width="200" src="1.jpg" align="right"></div>
      <div class="description"> What we have learned during this lesson </div>
    </div>
    </td>
    <td> <div class="container">
      <div class="name" align="center"> <b>Lesson2 </b></div>
      <div class="img"> <img width="200" src="1.jpg" align="right"></div>
      <div class="description"> What we have learned during this lesson </div>
    </div>
    </td>
    <td> <div class="container">
      <div class="name" align="center"> <b>Lesson3 </b></div>
      <div class="img"> <img width="200" src="1.jpg" align="right"></div>
      <div class="description"> What we have learned during this lesson </div>
    </div>
    </td>
    <td> <div class="container">
      <div class="name" align="center"> <b>Lesson4 </b></div>
      <div class="img"> <img width="200" src="1.jpg" align="right"></div>
      <div class="description"> What we have learned during this lesson </div>
    </div>
    </td>
  </tr>
  <tr>
    <td> <div class="container">
      <div class="name" align="center"> <b>Lesson5 </b></div>
      <div class="img"> <img width="200" src="1.jpg" align="right"></div>
      <div class="description"> What we have learned during this lesson </div>
    </div>
    </td>
    <td> <div class="container">
      <div class="name" align="center"> <b>Lesson6 </b></div>
      <div class="img"> <img width="200" src="1.jpg" align="right"></div>
      <div class="description"> What we have learned during this lesson </div>
    </div>
    </td>
    <td> <div class="container">
      <div class="name" align="center"> <b>Lesson7 </b></div>
      <div class="img"> <img width="200" src="1.jpg" align="right"></div>
      <div class="description"> What we have learned during this lesson </div>
    </div>
    </td>
    <td> <div class="container">
      <div class="name" align="center"> <b> Lesson8 </b></div>
      <div class="img"> <img width="200" src="1.jpg" align="right"></div>
      <div class="description"> What we have learned during this lesson </div>
    </div>
    </td>
  </tr>
  </tbody>
</table>


<footer>
  <p>She Goes Java 2</p>
  <p  align="right"><a href="https://github.com/TatjanaSokolova">Github</a></p>
</footer>
</div>

</body>

</html>