body {
    margin: 0;
    font-family: Georgia, cursive;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    background: #f5c269;  /* fallback for old browsers */
       background: -webkit-linear-gradient(to right, #fcd797, #f5c269);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, #fcd797, #f5c269); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       border-bottom: 2px solid #f5c269;
}

.first-column {
    margin-right: auto;

}

.person-name {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}

.person-description {
    font-style: italic;
}

.person-photo {
    border-radius: 10px;
}

.table{
    display: flex;
    border-collapse: separate;
}

.footer {
    justify-content: flex-end;
    padding: 16px;
    background: #f5c269;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcd797, #f5c269);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcd797, #f5c269); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 2px solid #f5c269;
    margin-bottom: 0px;
}
.author {
align: left;
}
.external-link {
    color: #777777;
}
.external-link:visited {
    color: #BBBBBB;
}
